<!DOCTYPE html>
<html>

  {% include head.html %}

  <body >
    <div class="print-footer"><div><div></div></div></div>
    {% include header.html %}
      <div class="content-spacer hidden-xs"></div>
      <div class="page-content ">
        <div class="wrapper container">
          <div class="row">
            <div class="content col-md-9">
              {{ content }}
            </div>
            <div class="sidebar col-md-3" id="myScrollspy">
              {% include sidebar.html%}
            </div>
          </div>
        </div>
      </div>
      <div class="content-spacer hidden-xs"></div>
    {% include footer.html %}


    <script>
    $('.sidebar nav').affix({
      offset:{
        top:68
      }
    });
    $('body').scrollspy({ target: '#myScrollspy', offset: 60 });

    var set_navWidth = function () {
                $('#myScrollspy nav').width($('#myScrollspy').width());
            };

    set_navWidth();

    $(window).resize(set_navWidth());
    </script>

  </body>

</html>
